@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

.succes-card > :first-child{
  border-top-left-radius: 0%;
  border-top-right-radius: 0%;
}

@layer base {
  :root {
    --color-primary: 139 65 143;
    --color-on-primary: 255 255 255;
    --color-primary-container: 255 214 250;
    --color-on-primary-container: 54 0 61;
    --color-secondary: 108 88 106;
    --color-on-secondary: 255 255 255;
    --color-secondary-container: 245 219 240;
    --color-on-secondary-container: 38 22 37;
    --color-tertiary: 130 82 72;
    --color-on-tertiary: 255 255 255;
    --color-tertiary-container: 255 218 211;
    --color-on-tertiary-container: 51 17 11;
    --color-error: 186 26 26;
    --color-on-error: 255 255 255;
    --color-error-container: 255 218 214;
    --color-on-error-container: 65 0 2;
    --color-background: 255 251 255;
    --color-on-background: 30 26 29;
    --color-surface: 255 251 255;
    --color-on-surface: 30 26 29;
    --color-surface-variant: 237 222 232;
    --color-on-surface-variant: 77 68 76;
    --color-outline: 127 116 124;
    --color-outline-variant: 208 195 204;
    --color-inverse-surface: 52 47 50;
    --color-inverse-primary: 255 169 254;
    --color-on-inverse-surface: 247 238 242;
    --color-primary-hover: 148 80 152;
    --color-primary-press: 153 88 157;
    --color-primary-focus: 153 88 157;
    --color-primary-drag: 158 96 161;
    --color-primary-container-hover: 239 197 235;
    --color-primary-container-press: 231 188 227;
    --color-primary-container-focus: 231 188 227;
    --color-primary-container-drag: 223 180 220;
    --color-secondary-hover: 120 101 118;
    --color-secondary-press: 126 108 124;
    --color-secondary-focus: 126 108 124;
    --color-secondary-drag: 132 115 130;
    --color-secondary-container-hover: 229 204 224;
    --color-secondary-container-press: 220 195 215;
    --color-secondary-container-focus: 220 195 215;
    --color-secondary-container-drag: 212 187 207;
    --color-tertiary-hover: 140 96 86;
    --color-tertiary-press: 145 103 94;
    --color-tertiary-focus: 145 103 94;
    --color-tertiary-drag: 150 110 101;
    --color-tertiary-container-hover: 239 202 195;
    --color-tertiary-container-press: 230 194 187;
    --color-tertiary-container-focus: 230 194 187;
    --color-tertiary-container-drag: 222 186 179;
    --color-error-hover: 191 44 44;
    --color-error-press: 194 54 54;
    --color-error-focus: 194 54 54;
    --color-error-drag: 197 63 63;
    --color-error-container-hover: 240 201 197;
    --color-error-container-press: 232 191 188;
    --color-error-container-focus: 232 191 188;
    --color-error-container-drag: 224 183 180;
    --color-background-hover: 237 233 237;
    --color-background-press: 228 224 228;
    --color-background-focus: 228 224 228;
    --color-background-drag: 219 215 219;
    --color-surface-hover: 237 233 237;
    --color-surface-press: 228 224 228;
    --color-surface-focus: 228 224 228;
    --color-surface-drag: 219 215 219;
    --color-surface-variant-hover: 224 210 220;
    --color-surface-variant-press: 218 203 213;
    --color-surface-variant-focus: 218 203 213;
    --color-surface-variant-drag: 211 197 207;
    --color-inverse-surface-hover: 67 62 65;
    --color-inverse-surface-press: 76 70 73;
    --color-inverse-surface-focus: 76 70 73;
    --color-inverse-surface-drag: 83 78 81;
  }
}

