@tailwind base;
@tailwind components;
@tailwind utilities;



body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
  'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
  sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#root{
  display: flex;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
  monospace;
}

@layer base {
  :root {
    --color-primary: 255 169 254;
    --color-on-primary: 85 13 92;
    --color-primary-container: 111 41 117;
    --color-on-primary-container: 255 214 250;
    --color-secondary: 216 191 212;
    --color-on-secondary: 60 43 59;
    --color-secondary-container: 83 65 82;
    --color-on-secondary-container: 245 219 240;
    --color-tertiary: 246 184 171;
    --color-on-tertiary: 76 38 30;
    --color-tertiary-container: 103 59 50;
    --color-on-tertiary-container: 255 218 211;
    --color-error: 255 180 171;
    --color-on-error: 105 0 5;
    --color-error-container: 147 0 10;
    --color-on-error-container: 255 180 171;
    --color-background: 30 26 29;
    --color-on-background: 233 224 228;
    --color-surface: 30 26 29;
    --color-on-surface: 233 224 228;
    --color-surface-variant: 77 68 76;
    --color-on-surface-variant: 208 195 204;
    --color-outline: 153 141 150;
    --color-outline-variant: 77 68 76;
    --color-inverse-surface: 233 224 228;
    --color-inverse-primary: 139 65 143;
    --color-on-inverse-surface: 0 0 0;
    --color-primary-hover: 242 157 241;
    --color-primary-press: 234 150 234;
    --color-primary-focus: 234 150 234;
    --color-primary-drag: 228 144 228;
    --color-primary-container-hover: 122 55 127;
    --color-primary-container-press: 129 62 133;
    --color-primary-container-focus: 129 62 133;
    --color-primary-container-drag: 134 69 138;
    --color-secondary-hover: 204 179 200;
    --color-secondary-press: 197 173 193;
    --color-secondary-focus: 197 173 193;
    --color-secondary-drag: 191 167 187;
    --color-secondary-container-hover: 96 77 94;
    --color-secondary-container-press: 103 84 101;
    --color-secondary-container-focus: 103 84 101;
    --color-secondary-container-drag: 109 90 107;
    --color-tertiary-hover: 233 173 160;
    --color-tertiary-press: 225 166 154;
    --color-tertiary-focus: 225 166 154;
    --color-tertiary-drag: 219 161 148;
    --color-tertiary-container-hover: 115 71 63;
    --color-tertiary-container-press: 121 78 70;
    --color-tertiary-container-focus: 121 78 70;
    --color-tertiary-container-drag: 127 85 76;
    --color-error-hover: 243 166 158;
    --color-error-press: 237 158 151;
    --color-error-focus: 237 158 151;
    --color-error-drag: 231 151 144;
    --color-error-container-hover: 155 14 23;
    --color-error-container-press: 160 22 30;
    --color-error-container-focus: 160 22 30;
    --color-error-container-drag: 164 29 36;
    --color-background-hover: 46 42 45;
    --color-background-press: 55 50 53;
    --color-background-focus: 55 50 53;
    --color-background-drag: 63 58 61;
    --color-surface-hover: 46 42 45;
    --color-surface-press: 55 50 53;
    --color-surface-focus: 55 50 53;
    --color-surface-drag: 63 58 61;
    --color-surface-variant-hover: 87 78 86;
    --color-surface-variant-press: 93 83 92;
    --color-surface-variant-focus: 93 83 92;
    --color-surface-variant-drag: 98 88 97;
    --color-inverse-surface-hover: 215 206 210;
    --color-inverse-surface-press: 205 197 200;
    --color-inverse-surface-focus: 205 197 200;
    --color-inverse-surface-drag: 196 188 191;
  }
}

@layer dark {
  :root {
    --color-primary: 255 169 254;
    --color-on-primary: 85 13 92;
    --color-primary-container: 111 41 117;
    --color-on-primary-container: 255 214 250;
    --color-secondary: 216 191 212;
    --color-on-secondary: 60 43 59;
    --color-secondary-container: 83 65 82;
    --color-on-secondary-container: 245 219 240;
    --color-tertiary: 246 184 171;
    --color-on-tertiary: 76 38 30;
    --color-tertiary-container: 103 59 50;
    --color-on-tertiary-container: 255 218 211;
    --color-error: 255 180 171;
    --color-on-error: 105 0 5;
    --color-error-container: 147 0 10;
    --color-on-error-container: 255 180 171;
    --color-background: 30 26 29;
    --color-on-background: 233 224 228;
    --color-surface: 30 26 29;
    --color-on-surface: 233 224 228;
    --color-surface-variant: 77 68 76;
    --color-on-surface-variant: 208 195 204;
    --color-outline: 153 141 150;
    --color-outline-variant: 77 68 76;
    --color-inverse-surface: 233 224 228;
    --color-inverse-primary: 139 65 143;
    --color-on-inverse-surface: 0 0 0;
    --color-primary-hover: 242 157 241;
    --color-primary-press: 234 150 234;
    --color-primary-focus: 234 150 234;
    --color-primary-drag: 228 144 228;
    --color-primary-container-hover: 122 55 127;
    --color-primary-container-press: 129 62 133;
    --color-primary-container-focus: 129 62 133;
    --color-primary-container-drag: 134 69 138;
    --color-secondary-hover: 204 179 200;
    --color-secondary-press: 197 173 193;
    --color-secondary-focus: 197 173 193;
    --color-secondary-drag: 191 167 187;
    --color-secondary-container-hover: 96 77 94;
    --color-secondary-container-press: 103 84 101;
    --color-secondary-container-focus: 103 84 101;
    --color-secondary-container-drag: 109 90 107;
    --color-tertiary-hover: 233 173 160;
    --color-tertiary-press: 225 166 154;
    --color-tertiary-focus: 225 166 154;
    --color-tertiary-drag: 219 161 148;
    --color-tertiary-container-hover: 115 71 63;
    --color-tertiary-container-press: 121 78 70;
    --color-tertiary-container-focus: 121 78 70;
    --color-tertiary-container-drag: 127 85 76;
    --color-error-hover: 243 166 158;
    --color-error-press: 237 158 151;
    --color-error-focus: 237 158 151;
    --color-error-drag: 231 151 144;
    --color-error-container-hover: 155 14 23;
    --color-error-container-press: 160 22 30;
    --color-error-container-focus: 160 22 30;
    --color-error-container-drag: 164 29 36;
    --color-background-hover: 46 42 45;
    --color-background-press: 55 50 53;
    --color-background-focus: 55 50 53;
    --color-background-drag: 63 58 61;
    --color-surface-hover: 46 42 45;
    --color-surface-press: 55 50 53;
    --color-surface-focus: 55 50 53;
    --color-surface-drag: 63 58 61;
    --color-surface-variant-hover: 87 78 86;
    --color-surface-variant-press: 93 83 92;
    --color-surface-variant-focus: 93 83 92;
    --color-surface-variant-drag: 98 88 97;
    --color-inverse-surface-hover: 215 206 210;
    --color-inverse-surface-press: 205 197 200;
    --color-inverse-surface-focus: 205 197 200;
    --color-inverse-surface-drag: 196 188 191;
  }
}